@model CategoryVM
@{
    ViewBag.Title = "UpdateCategory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card-body">
    @using (Html.BeginForm("UpdateCategory", "Category", FormMethod.Post))
    {
        @Html.HiddenFor(x => x.Category.ID)
        <div>
            <label>CategoryName</label>
            @Html.TextBoxFor(x => x.Category.CategoryName, new { @class = "form-control" })

        </div>
        <br />
        <div>
            <label>Description</label>
            @Html.TextBoxFor(x => x.Category.Description, new { @class = "form-control" })

        </div>

        <br />

        <button class="btn btn-warning">Update</button>
    }

</div>
