@model DAL.Entity.Product
@{
    ViewBag.Title = "CreateProduct";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div class="card-body">
    @using (Html.BeginForm("CreateProduct", "Product", FormMethod.Post))
    {
        <div>
            <label>CategoryName</label>
            @Html.TextBoxFor(x => x.ProductName, new { @class = "form-control" })

        </div>
        <br />
        <div>
            <label>Description</label>
            @Html.TextBoxFor(x => x.UnitPrice, new { @class = "form-control" })

        </div>
        <br />
        <div>
            <label>Description</label>
            @Html.TextBoxFor(x => x.UnitsInStock, new { @class = "form-control" })

        </div>

        <br />
        <button type="submit" class="btn btn-danger">AddProduct</button>

    }

</div>
