@model DAL.Entity.Product
@{
    ViewBag.Title = "UpdateProduct";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div class="card-body">
    @using (Html.BeginForm("UpdateProduct", "Product", FormMethod.Post))
    {

        <div>
            <label>CategoryName</label>
            @Html.TextBoxFor(x => x.ProductName, new { @class = "form-control" })

        </div>
        <br />
        <div>
            <label>Description</label>
            @Html.TextBoxFor(x => x.UnitPrice, new { @class = "form-control" })

        </div>
        <br />
        <div>
            <label>Description</label>
            @Html.TextBoxFor(x => x.UnitsInStock, new { @class = "form-control" })

        </div>

        <br />

        <button class="btn btn-warning">Update</button>
    }

</div>


