@model DAL.Entity.Category
@{
    ViewBag.Title = "UpdateCategory";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="card-body">
    @using (Html.BeginForm("UpdateCategory", "Category", FormMethod.Post))
    {
       
        <div>
            <label>CategoryName</label>
            @Html.TextBoxFor(x => x.CategoryName, new { @class = "form-control" })

        </div>
        <br />
        <div>
            <label>Description</label>
            @Html.TextBoxFor(x => x.Description, new { @class = "form-control" })

        </div>

        <br />

        <button class="btn btn-warning">Update</button>
    }

</div>